/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 修改el-button primary的样式 */
.el-button--primary {
    color: #333;
    background-color: #ffc200;
    border-color: #ffc200;
}
/* 修改el-button primary hover时的样式 */
.el-button--primary:focus, .el-button--primary:hover {
    background: #fdd24c;
    border-color: #fdd24c;
    color: #333333;
}
/* 修改el-button primary active时的样式 */
.el-button--primary:active {
    background: #efb602;
    border-color: #efb602;
    color: #333333;
}

/* el-table的操作-- 编辑 */
.editBtn{
    font-size: 13px;
    color: #419eff !important; 
    position: relative;
}
/* el-table的操作-- 删除 */
.delBtn {
    font-size: 13px;
    color: #f56c6c !important;
    position: relative;
}
/* el-table的操作-- 启用 */
.useBtn {
    font-size: 13px;
    color: #0ecb60 !important;
    position: relative;
}
.editBtn::after,
.delBtn::after
.useBtn::after {
    content: "";
    position: absolute;
    right: -6px;
    height: 14px;
    width: 0px;
}
.editBtn::after {
    border-right: solid 1px #ebeef5;
}

/* 更改单选框选中后的颜色 */
.el-radio__input.is-checked .el-radio__inner {
    border-color: #ffc200;
    background: #ffc200;
}
.el-radio__input.is-checked + .el-radio__label {
    color: #ffc200;
}

/* 调整按钮的hover */
.el-button:focus, .el-button--default:hover {
    color: #ffc200;
    border-color: #ffdec5;
    background-color: #fff4ec;
}
.el-button--default:active {
    color: #efb602;
    border-color: #efb602;
    outline: 0;
}

.el-button--text,
.el-button--text:focus,
.el-button--text:hover {
  color: #fdd24c;
  border-color: transparent;
  background-color: transparent;
}
.el-button--text:active {
  color: #efb602;
  background-color: transparent;
}

.el-button--warning {
    color: #fff;
    background-color: #ffb302;
    border-color: #ffb302;
}
.el-button--warning:focus,
.el-button--warning:hover {
    background: #ffc235;
    border-color: #ffc235;
    color: #fff;
}

/* 弹窗 */
.el-dialog {
    min-width: 568px !important;
    border-radius: 8px !important;
}
 /* 弹窗头部深色 */
.el-dialog__header {
    padding: 20px 30px;
    background: #fbfbfa;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid #e5e4e4;
}
/* 弹窗底部字体居中 */
.el-dialog__footer {
    padding: 10px 20px 20px;
    text-align: center;
    box-sizing: border-box;
}

/* 设置输入框的边框颜色 */
.el-input .el-input__inner:hover {
    border-color: #ffc200;  
}

/* 设置分页page在选择一页几条的边框颜色 */
.el-pagination__sizes {
    border-color: #ffc200;
}

/* 设置分页page选择页数时的字体颜色 */
.el-pager li {
    color: #bac0cd;
}
.el-pager li:hover {
    color: #ffc200;
}
.el-pager li.active {
    color: #ffc200;
    cursor: default;
}

/* 设置选中框的颜色  */
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #ffc200;
    border-color: #ffc200;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__inner:hover {
    border-color: #ffc200;
}

/* 设置选中框位置固定 */
.el-checkbox__inner {
    display: block;
}
修改el-checkbox__label的宽度
.el-checkbox__label {
    width: 100%;
}

/* 修改checkbox选中时的字体颜色 */
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #ffc200;
}

