/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 修改el-button primary的样式 */
.el-button--primary {
    color: #333;
    background-color: #ffc200;
    border-color: #ffc200;
}
/* 修改el-button primary hover时的样式 */
.el-button--primary:focus, .el-button--primary:hover {
    background: #fdd24c;
    border-color: #fdd24c;
    color: #333333;
}
/* 修改el-button primary active时的样式 */
.el-button--primary:active {
    background: #efb602;
    border-color: #efb602;
    color: #333333;
}

/* el-table的操作-- 编辑 */
.editBtn {
    font-size: 13px;
    color: #419eff;
    position: relative;
}
/* el-table的操作-- 删除 */
.delBtn {
    color: #f56c6c !important;
    position: relative;
}
.editBtn::after,
.delBtn::after {
    content: "";
    position: absolute;
    right: -6px;
    height: 14px;
    width: 0px;
}
.editBtn::after {
    border-right: solid 1px #ebeef5;
}

/* 更改单选框选中后的颜色 */
.el-radio__input.is-checked .el-radio__inner {
    border-color: #ffc200;
    background: #ffc200;
}
.el-radio__input.is-checked + .el-radio__label {
    color: #ffc200;
}

/* 调整按钮的hover */
.el-button:focus, .el-button--default:hover {
    color: #ffc200;
    border-color: #ffdec5;
    background-color: #fff4ec;
}
.el-button--default:active {
    color: #efb602;
    border-color: #efb602;
    outline: 0;
}